<%= form_for(@entry) do |f| %>

  <div class="field">
    <%= f.text_field :title, autofocus: true, class: 'jot-entry' %>
    <%= f.submit 'jot', class: 'jot-submit' %>
  </div>
<% end %>
<hr>
  <% @entries.each do |entry| %>
    <h3><%= link_to entry.title, entry, method: :delete %><span class='edit'><%= link_to 'why?', edit_entry_path(entry) %></span></h3>
  <% end %>
