<!DOCTYPE html>
<html>
<head>
  <title>jots</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%#= render 'shared/authentication' %>
  <section class='l-container'>
    <%= render 'shared/jot_focus' %>
    <section class='main-content'>
        <%= yield %>
    </section>
    <nav class='control'>
      <ul class='control__actions'>
        <li id='new-jot-btn'>jot</li>
        <li><%= link_to 'tags', tags_path %></li>
        <li><%= link_to 'archives', archives_path %></li>
        <li><%= link_to 'today', today_index_path %></li>
      </ul>
    </nav>
  </section>
</body>
</html>
